# Primeiros Exemplos

In [3]:
print('primeiro programa')
1 \
 + 2

help(print)

primeiro programa
Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [4]:
1 + 2 + 3
4 + 5 + 6

15

In [5]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [6]:
print(True)
print(False)
print(1.2 + 1)
print('Esse é meu idioma')
print("Com aspas duplas também funciona")
print('Você é ' + 2 * 'muito' + 'dahora!')
print([1, 2, 3])
print({'nome': 'Davi', 'sobrenome': 'Tanaka'})
print(None)

True
False
2.2
Esse é meu idioma
Com aspas duplas também funciona
Você é muitomuitodahora!
[1, 2, 3]
{'nome': 'Davi', 'sobrenome': 'Tanaka'}
None

# Variáveis

In [7]:
a = 10
b = 5.2

print(a + b)

a = 'Agora sou uma string!'
print(a)
a
b

# print(a + b)

15.2
Agora sou uma string!

5.2

# Comentários

In [4]:
# Minhas variáveis
salario = 1.412
despesas = 1.236

"""
A ideia é calcular o
quanto vai sobrar do
salário no fim do mês.
"""
sobra = salario - despesas
print(sobra)

# print(fim)
print('Fim de verdade') # comentário também funciona aqui

0.17599999999999993
Fim de verdade

# Operadores Aritméticos

In [5]:
print(4 + 3)
print(2 - 1)
print(2 * 6.3)
print(8 / 4.2)
print(8 // 4.2)
print(5 ** 3)
print(9 % 5)

a = 12
b = a
print(a + b)

7
1
12.6
1.9047619047619047
1.0
125
4
24

In [3]:
# Desafio de operadores aritméticos
salario = 1.412
despesas = 1.236

# Minha solução
porcentagem_de_gastos = (despesas / salario) * 100
print(f'Suas despesas vai utilizar um total de -> {porcentagem_de_gastos:.0f}% do valor de seu salário')

# Solução do professor
percentual_comprometido = despesas / salario * 100
print(percentual_comprometido)

Suas despesas vai utilizar um total de -> 88% do valor de seu salário
87.53541076487252

# Operadores Relacionais

In [ ]:
# Operadores relacionais em Python:
# Observe a diferença entre comparar números (int) e strings (str)
print(3 > 4) 
print(4 >= 3)
print(1 < 2)
print(3 <= 1)
print(3 != 2)
print(4==4)  # Comparação numérica
print(4=='4') # Comparação de tipos diferentes (número e string)

# Operadores de atribuição

In [ ]:
# Operadores de Atribuição
# -------------------------
# Permitem modificar variáveis com operações diretas.
# Exemplo: a += 5 equivale a a = a + 5

# Inicializa 'a'
a = 4

# Operações com operadores de atribuição
a += 7
print(a)  # 11

a += 5
print(a)  # 16

a -= 2
print(a)  # 14

a *= 3
print(a)  # 42

a /= 1
print(a)  # 42.0

a %= 4
print(a)  # 2.0

a **= 6
print(a)  # 64.0

a //= 453
print(a)  # 0.0

# Operadores Lógicos

In [9]:
True or False
7 != 3 and 2 > 3

# Tabela da Verdade do AND
True and True
True and False
False and True
False and False


# Tabela da Verdade do OR
True or True
True or False
False or True
False or False


# Tabela da Verdade do XOR
True != True
True != False
False != True
False != False

# Operador de negação (unário)
not True
not False

# Um pouco de realidade
saldo = 1000 
salario = 3400
despesas = 1900

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

True